body, html, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .form-tile {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .tile-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;

  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .client-selection {
    display: flex;
    justify-content: space-between;
  }
  
  .client-selection select {
    flex: 1;
  }
  
  .client-selection button {
    margin-left: 10px;
    padding: 10px 15px;
    border: 1px solid #bab6b6;
    background-color: #f4f2f2;
    border-radius: 4px;
    cursor: pointer;
    color: #bab6b6;
  }
  
  .date-selection {
    display: flex;
    align-items: center;
  }
  
  .date-selection input {
    flex: 1;
  }
  
  .date-selection span {
    margin: 0 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  .form-navigation {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  